:root {
    --red: #ed1c24;
    --black: #222222;
    --gray: #f1f1f1;
}




* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box !important;
    /* font-size: 14px; */
}

i {
    font-size: 16px;
}

.gray {
    color: rgb(105, 102, 102);
}

.dark-gray {
    color: rgb(73, 73, 73);
}

.Pale-Goldenrod {
    background-color: var(--gray);
}

.no-flex {
    display: block !important;
}

.block-heading {
    text-transform: uppercase !important;
    display: flex;
}

.layer {
    padding: 2rem 4rem;
    box-sizing: border-box;
}

.container {
    display: flex;
    gap: 1.5rem;
}

.inner-left {
    width: 75%;
    display: flex;
    gap: 1rem;
    padding-right: 0.6rem;
}

.first-layer>div {
    flex: 0 0 50%;
}

.inner-right {
    width: 24%;
}

.slider-img {
    height: 17rem;
    background-image: url("./abt-best-art-pic_09.jpg");
    border-radius: 8px 8px 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slider-bottom {
    height: 6.3rem;
    background-color: var(--gray);
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 0 0 8px 8px;
}

.slider-hd {
    color: var(--red);
    font-weight: 600;
    letter-spacing: 1px;
    padding: 5px 0;
}

.slider-txt {
    height: 2.5rem;
    box-sizing: border-box;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

/* blocks */
.block-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
}

.block-container>div {
    height: 9.4rem;
    width: 30%;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;
}

.block-container i {
    font-size: 26px;
    color: var(--red);
}

.block-container p {
    text-align: center;
    word-break: break-word;
}

.inner-right .block-container>div {
    width: 50%;
}

.block-container>div:hover {
    cursor: pointer;
}

.covid-block,
.site-vis-container {
    margin-top: 10px;
    flex-shrink: 1;
    width: 100%;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    height: 13rem;
}

.heading {
    color: var(--red);
    font-weight: 600;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.block-sub-heading {
    font-weight: 600;
    margin: 8px 0;
    height: 19px;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.text {
    line-height: 1.3rem;
    color: rgb(95, 95, 95);
    height: 5.3rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    text-overflow: ellipsis;
}

.heading-logo-cont {
    background-color: white;
    height: 1.6rem;
    width: 1.6rem;
    margin-right: 1rem;
    border-radius: 50%;
}

.block-heading i {
    margin-right: 10px;
    height: 1rem;
}

.heading-logo-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.policy-container {
    width: 100%;
    height: 90%;
    padding: 15px 1rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.policy-container ul {
    list-style-type: none;
}

.policy-container li {
    padding: 0.7rem 0;
    display: flex;
    align-items: center;
}

.policy-container li>p {
    font-size: 15px;
}

.policy-container li:not(:last-of-type) {
    border-bottom: 1px solid rgb(184, 184, 184);
}

.policy-container li>i {
    font-size: 22px;
    margin-right: 1rem;
    color: rgb(97, 96, 96);
}


.btn-container {
    text-align: right;
    margin-top: 5px;
}

.read-more-btn {
    background-color: var(--red);
    text-transform: uppercase;
    color: white;
    padding: 10px 20px;
    border-radius: 18px;
    border: none;
    font-weight: 600;
    font-size: 12px;
}

.read-more-btn i {
    margin-left: 2px;
    font-size: 10px;
}

.read-more-btn {
    cursor: pointer;
}

.container:nth-of-type(2) {
    background-color: #e5d9b6;
    margin-top: 2rem;
    height: 10rem;
}

.btn-container2 {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sort-btns>button {
    padding: 5px 10px;
    outline: none;
    border: none;
    color: rgb(49, 49, 49);
    background-color: white;
    text-transform: uppercase;
    border-radius: 3px;
    margin-right: 5px;
}

.sort-btns>button:hover {
    cursor: pointer;
}

.active {
    color: white !important;
    background-color: var(--red) !important;
}

.carousel-btns>button {
    border: none;
    background-color: white;
    padding: 6px;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin: 0 3px;
    border: 1px solid rgb(184, 184, 184);
}

.carousel-btns i {
    color: rgb(78, 78, 78);
}

.carousel-btns>button:hover {
    cursor: pointer;
}

.news-slider-container {
    height: 24rem;
    margin-top: 1rem;
}

.news-slider {
    height: 100%;
}

.news-slider>div {
    border-radius: 10px;
}

.tools-container {
    background-color: white;
    height: 100%;
    border-radius: 10px;
    max-height: 30rem;
}

.heading-p {
    padding: 1rem;
}

.border-bottom {
    border-bottom: 1px solid rgb(184, 184, 184);
}

.links-list-container {
    padding: 0 2rem;
    font-size: 15px;
}

.links-list {
    list-style-type: none;
}

.links-list>li {
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
}

.links-list>li:not(:last-of-type) {
    border-bottom: 1px solid rgb(184, 184, 184);
}

.links-list>li i {
    margin-right: 1rem;
    color: var(--red);
}

.mem-ann-cont {
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: space-between;
}

.mem-container {
    width: 50%;
}

.ann-container {
    width: 50%;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 10px;
}

.upld-btn {
    padding: 8px 15px;
    background-color: var(--red);
    border: none;
    color: white;
    border-radius: 10px;
}

.img-slider-container,
.new-join-cont {
    height: 25rem;
    border-radius: 10px;
}

.img-slider>div {
    height: 25rem;
    width: 100%;
}

.img-slider>div img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.bday-slider-container {
    width: 100%;
    height: 25rem;
    border-radius: 10px;
    border: 1px solid rgb(184, 184, 184);
    padding: 1rem;
}

.bday-slider {
    height: 100%;
}

.bday-slider>div {
    width: 100%;
    height: 100%;
}

.bday-slider>div img {
    width: 100%;
    height: 25rem;
    border-radius: 10px;
}

.bday-slide-item {
    display: flex !important;
    align-items: center;
    padding: 0.7rem 0;
}

/* .bday-slider .slick-slide:not(:last-of-type){
    border-bottom: 1px solid rgb(184, 184, 184) !important;
} */

.bday-slide-item .emp-pic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.bday-slide-item .emp-pic>img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.bday-slide-item .emp-designation {
    color: rgb(104, 104, 104);
    font-size: 14px;
}

.forth-layer {
    background-color: var(--red);
}

.container1 {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    box-sizing: border-box;
}

.container1>div {
    width: 48%;
    height: 25rem;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
}

.search-cont {
    height: 5rem;
    background-color: rgb(192, 192, 192);
    display: flex;
    align-items: center;
    justify-content: center;
}

.emp-list-cont {
    height: calc(100%-5rem);
}

.emp-list {
    list-style-type: none;
    padding: 0.2rem 2rem;
    height: 25rem;
    overflow-y: scroll;
}

.emp-list li {
    display: flex;
    align-items: center;
    padding: 0.7rem 0;
}

.emp-list li:not(:last-of-type) {
    border-bottom: 1px solid rgb(180, 180, 180);
}

.emp-pic {
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
}

.emp-pic img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.emp-other {
    padding-left: 1rem;
    width: 90%;
}

.emp-name {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

.des {
    display: flex;
    justify-content: space-between;
}

.des p {
    color: rgb(104, 104, 104);
}

.des>div {
    display: flex;
    align-items: center;
}

.des>div i {
    margin: 0 10px;
}

.des>div i:hover {
    cursor: pointer;
}

.des>div i:first-of-type {
    font-size: 18px;
}

/* footer */
footer {
    padding: 1rem 2rem;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer>div:first-of-type {
    color: var(--red);
    font-weight: 600;
    letter-spacing: 0.5px;
}

footer>div:last-of-type {
    display: flex;
    gap: 1rem;
}

footer>div:last-of-type div {
    background-color: var(--red);
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

footer>div:last-of-type div i {
    color: white;
    font-size: 20px;
}

.first-layer .person-details {
    top: 3rem;
    left: 5rem;
}

.person-details {
    background-color: #eaeced;
    height: 53px !important;
    width: 250px !important;
    position: absolute;
    z-index: 10;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    left: 1rem;
}

.person-details img {
    border-radius: 50% !important;
}

.person-details .emp-name1 {
    text-transform: uppercase;
    font-size: 13px;
}

.person-details .time-n-date {
    font-size: 13px;
    margin-top: 6px;
}

.mem-container .person-details {
    position: relative !important;
    bottom: 5rem;
}

.slider-top-img {
    height: 10rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

.slider-top-img img {
    border-radius: 10px 10px 0 0;
    height: 100%;
    width: 100%;
}

.slider-text {
    background-color: white;
    height: 7.45rem;
    padding: 0 10px;
    text-align: justify;
    color: #5d5d5f;
    overflow-y: scroll;
    font-size: 15px;
    /* font-style: italic; */
    font-family: Calibri;
}

.slider-text::-webkit-scrollbar {
    width: 5px !important;
}

.slider-btm-btn {
    background-color: white;
    font-weight: 600;
    border-top: 1px solid rgb(184, 184, 184);
    height: 4rem;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    box-sizing: border-box;
    color: var(--red);
}

.slider-btm-btn p {
    text-transform: uppercase;
}

.slider-btm-btn i {
    margin-left: 5px;
}

.slider-heading {
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
    background-color: white;
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;

}

.slick-slide {
    margin: 0 10px;
}



.right-border {
    background-color: rgb(194, 193, 193);
    height: 18px;
    width: 1.5px;
}

.management-container,
.recog-container {
    border-radius: 0 0 10px 10px;
    width: 100%;
    box-sizing: border-box !important;
    height: 21.5rem;
}

.management-in-cont {
    height: 100%;
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding: 1rem 2rem;
}

.management-grid {
    align-self: center;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(2, 48.8%);
    grid-template-rows: repeat(2, 47%);
    gap: 0.7rem;
}

.management-grid>div {
    background-color: rgb(184, 184, 184);
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

.management-grid>div img {
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

.recog-container {
    box-sizing: border-box;
}

.slide-prof {
    display: flex;
    align-items: center;
}

.recog-slide {
    padding: 1rem;
    height: 19.5rem !important;
    overflow: hidden;
}

.b-date {
    margin-top: 10px;
    margin-left: 8px;
    font-size: 14px;
    font-weight: bold;
}

.b-date i {
    font-size: 20px;
    margin-right: 1rem;
}

.bday-text {
    margin-top: 1rem;
    line-height: 18px;
}

@media (max-width:1280px) {
    .links-list-container {
        padding: 0 1rem;
    }
}

@media (max-width:1330px) {
    .emp-mail {
        display: none;
    }
}


@media (max-width:769px) {
    .layer {
        padding: 2rem;
    }

    .container {
        flex-direction: column;
        gap: 1rem;
    }

    .inner-left,
    .inner-right {
        width: 100%;
    }

    .inner-left {
        padding-right: 0;
    }

    .inner-right {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .block-container-one {
        gap: 5px !important;
    }

    .block-container-one>div {
        width: 30% !important;
    }

    .first-layer .person-details {
        left: 3rem;
    }

    .site-vis-container {
        height: 9.7rem;
        margin-top: 0 !important;
    }

    .vis-count-container {
        height: 48%;
    }

    .slider-bottom {
        line-height: 19px;
    }

    .Pale-Goldenrod .inner-right {
        margin-top: 1rem;
    }

    .tools-container {
        width: 100%;
    }

    .links-list-container {
        padding: 0;
    }

    .links-list {
        list-style-type: none;
        display: flex;

    }

    .links-list>li {
        flex: 0 0 16.6%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        text-align: center;
    }

    .links-list>li:not(:last-of-type) {
        border-right: 1px solid rgb(230, 229, 229);
        border-bottom: none;
    }

    .links-list>li i {
        margin-right: 0;
        color: var(--red);
    }

    .bdays-container {
        width: 100%;
    }
}